fsevents/build/.target.mk
fsevents/build/Makefile
fsevents/build/Release/.deps/Release/.node.d
fsevents/build/Release/.deps/Release/fse.node.d
fsevents/build/Release/.deps/Release/obj.target/action_after_build.stamp.d
fsevents/build/Release/.deps/Release/obj.target/fse/fsevents.o.d
fsevents/build/Release/.deps/Users/fsworld009/Program/JTChat2/node_modules/fsevents/lib/binding/Release/node-v48-darwin-x64/fse.node.d
fsevents/build/Release/.node
fsevents/build/Release/fse.node
fsevents/build/Release/obj.target/action_after_build.stamp
fsevents/build/Release/obj.target/fse/fsevents.o
fsevents/build/action_after_build.target.mk
fsevents/build/binding.Makefile
fsevents/build/config.gypi
fsevents/build/fse.target.mk
fsevents/build/gyp-mac-tool
fsevents/lib/binding/Release/node-v46-darwin-x64/fse.node
fsevents/lib/binding/Release/node-v48-darwin-x64/fse.node